@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #0A0A0A;
  --accent: #E3672A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-calsans), var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #000000;
  --foreground: #F5F5F5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply transition-colors duration-500;
}

@layer utilities {
  .mask-image-gradient {
    mask-image: linear-gradient(to bottom, transparent, black, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black, transparent);
  }
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  animation: scroll-left var(--duration, 40s) linear infinite;
}

.animate-scroll-right {
  animation: scroll-right var(--duration, 40s) linear infinite;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
  border: 0px solid transparent;
}